.gravatar {
	position: absolute;
	right: 30px;
	top: 10px;
}

.gravatarBorder {
  border: 1px solid #DDD;
  padding: 2px;
  background: white;
}

.headers-table td.to,
.headers-table td.cc {
  padding-right: 64px;
}
